/* CSS Document */

* {
  font-family: Poppins, sans-serif;
}
a {
  text-decoration: none;
}
.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.logo-img {
  float: left;
  position: relative;
  margin: 0px;
}

#logo {
  display: block;
  margin: 10px auto 10px auto;
  float: left;
  overflow: hidden;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #ffffff;
}

/* Styling the links */
nav a {
  display: block;
  padding: 25px 100px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;
}
nav .logo {
  display: block;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: #640909;
}

/* Background color change on Hover */
nav a:hover {
  background-color: #cd2026;
}

nav .logo:hover {
  background-color: transparent;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 275px;
  float: none;
  display: list-item;
  position: relative;
  z-index: 100;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: "";
}
li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #ffffff;
    padding: 14px 100px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #cd2026;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #cd2026;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: rgb(0, 0, 0);
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #cd2026;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #000000;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background: #f3f3f3ee;
}

* {
  box-sizing: border-box;
}

.home {
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 2s ease;
}
.home .slide.active {
  display: flex;
}
@keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  max-width: 1170px;
  margin: auto;
}

.home .container {
  flex-grow: 1;
}
.home .caption {
  width: 50%;
}
.home .caption h1 {
  font-size: 42px;
  color: #000000;
  margin: 0;
}
.home .slide.active .caption h1 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p {
  font-size: 18px;
  margin: 15px 0 30px;
  color: #222222;
}
.home .slide.active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
.home .caption a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}

.home .slide.active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.4s;
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .controls .prev,
.home .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #ffffff;
  background-color: #cd2026;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: #000000;
}
.home .controls .prev {
  left: 0;
}
.home .controls .next {
  right: 0;
}

.home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: #cd2026;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
}

.home .indicator div.active {
  background-color: #000;
}

/*responsive*/
@media (max-width: 767px) {
  .controls {
    display: none;
  }
}

/*Product of the day*/

.Cardhead {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.Product_row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.product,
.product--col {
  box-shadow: 1px 5px 15px #ccc;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.Product_row {
  background: linear-gradient(-45deg, #e90a15bb 50%, rgba(0, 0, 0, 0.5) 50%);
}
.product--col {
  background: linear-gradient(
    -45deg,
    #f11515bb 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
}

.product img,
.product--rowcol img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product img,
.product--col img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner p {
  color: rgba(0, 0, 0, 0.9);
}

.product_inner:hover p {
  color: #2196f3;
}
.product_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.product_inner button:hover {
  background: white;
  color: #2b2d42;
}
.product_inner button:before {
  font-family: FontAwesome;
  content: "ïº";
  color: #fff;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: #2b2d42;
}
.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}

/*Browse products by categories*/

.category-section section {
  border-radius: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  background-color: #615d5d;
  margin: 20px auto 20px auto;
  padding: 20px 20px 20px 20px;
}

@media all and (min-width: 600px) {
  aside {
    float: left;
    padding-left: 24px;
    position: relative;
  }
  footer {
    clear: both;
  }
}
/* The container */
.conta {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
}

/* Hide the browser's default checkbox */
.conta input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.conta:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.conta input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.conta input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.conta .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.row1 {
  display: flex;
  border: 0px solid #b1b1b1;
  width: 2.5cm;
  margin: 10px;
  padding: 0;
}

.column {
  margin: 0;
  padding: 0;
  width: 2.5cm;
  flex: 50%;
  border: 0px solid #b1b1b1;
}

.carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 auto 0 auto;
  width: 95vw;
  height: fit-content;
  background: linear-gradient(
    90deg,
    rgb(255, 222, 223) 0%,
    rgb(255, 255, 227) 100%
  );
}

.carousel::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: auto;
}

.item {
  min-width: 300px;
  height: 300px;
  margin: 15px;
  font-size: 5em;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-table;
  position: static;
  width: 40%;
  transition: 0.3s;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 0;
  font-size: small;
  margin: 10px;
  display: block;
  justify-content: space-around;
  background-color: none;
}

.carousel .item .card-image {
  display: flex;
  width: 120px;
  height: 200px;
}

.pagination {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  width: 100%;
  background: #000000;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
}

.footer-items ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.footer-items ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

.footer-items ul a:hover {
  color: #ff9800;
}

.footer-items ul li {
  margin: 10px 0;
  height: 25px;
}

.footer-items li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #6a6c6d;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

li {
  list-style: none;
}

/* header */
nav {
  padding: 15px;
  width: 100%;
  margin-right: 0px;
  display: flex;
}

nav .content-nav {
  display: flex;
  line-height: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

nav .content-nav ul {
  display: flex;
}

nav .content-nav ul li a {
  text-decoration: none;
  color: #43433e;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 800;
}

nav .content-nav ul li a:hover {
  color: #fff;
}

.content-nav form {
  position: relative;
}

.content-nav form input {
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}

.content-nav form button {
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  outline: none;
  background: #fff;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  width: auto;
  height: fit-content;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0px;
  text-align: left;
  display: inline-block;
  font-style: italic;
  font-size: 13px;
  margin: 5px;
  margin-right: 30px;
  cursor: pointer;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
}

#cart:hover {
  font-size: 15px;
  background-color: #cfcfcf;
  border-bottom-width: 2px;
}
.threeButtons {
  margin-left: 0px;
}
/* wrapper */
.wrapper {
  padding: 2rem;
}

.products ul {
  display: inline-block;
}

.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}
.img-product {
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -10%;
}
.img-product .img-prd {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.products ul .img-product img {
  width: 100%;
}

.content-product .content-product-deltals {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.main-product {
  margin-top: 10px;
}
.main-product .content-product .content-product-deltals .price {
  color: #c7b200;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-deltals .price .money {
  vertical-align: middle;
}
.product_detail {
  color: black;
  text-decoration: none;
}

/* footer */
.footer-item {
  padding: 0.5rem 2rem;
  background: #f1df11;
  display: flex;
}

.footer-item .img-footer {
  align-items: center;
  display: flex;
}

.footer-item .img-footer img {
  width: 100%;
}

.footer-item .social-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.footer-item .social-footer li a {
  color: #000000;
  font-size: 2rem;
}

.footer-item .social-footer li:last-child {
  margin-left: 0.5rem;
}
/* nav mobile */
.nav-mobile {
  display: none;
}

.nav-mobile .icon-mobile {
  padding: 0.5rem;
  font-size: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  outline: none;
}

.nav-mobile .item_menu {
  background: #f1df11;
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
  padding-bottom: 1rem;
}

.item_menu ul li a {
  color: #43433e;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.item_menu ul li a:hover {
  color: #fff;
}

.item_menu form {
  margin: 0 1rem;
  position: relative;
}

.item_menu form input {
  width: 100%;
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}

.item_menu form button {
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  outline: none;
  background: #fff;
}

/* cart */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
